<div class="pdf-reader">
  <ng-container *ngIf="selectedPdf; else pdfList">
    <div class="pdf-viewer">
      <div class="pdf-controls">
        <button class="back-button" (click)="handleClosePdf()">
          <i class="pi pi-arrow-left"></i>
          <span>Regresar</span>
        </button>
        <h2>{{ selectedPdf.title }}</h2>
        <div class="zoom-controls">
          <button (click)="zoomOut()" [disabled]="zoom <= minZoom">
            <i style="font-size: 2rem;" class="pi pi-minus"></i>
          </button>
          <span>{{ (zoom * 100).toFixed(0) }}%</span>
          <button (click)="zoomIn()" [disabled]="zoom >= maxZoom">
            <i style="font-size: 2rem;" class="pi pi-plus"></i>
          </button>
          <button (click)="resetZoom()" [disabled]="zoom === 1">
            <i style="font-size: 2rem;" class="pi pi-refresh"></i>
          </button>
        </div>
      </div>
      <div class="pdf-container" #pdfViewer>
        <ng-container *ngIf="pdfSrc">
          <pdf-viewer [src]="pdfSrc"
                      [render-text]="true"
                      [original-size]="false"
                      [fit-to-page]="true"
                      [zoom]="zoom"
                      [show-all]="true"
                      [autoresize]="true"
                      [stick-to-page]="false"
                      (after-load-complete)="onPdfLoaded($event)"
                      style="width: 100%; height: 100%;">
          </pdf-viewer>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-template #pdfList>
    <header class="top-nav">
      <div class="search-container">
        <!-- <i class="pi pi-home home-icon"></i> -->
        <div class="logo-container">
          <img src="assets/logo.png" alt="Logo" class="logo-image">
        </div>
        <div class="search-input-container">
          <i class="pi pi-search search-icon"></i>
          <input
            type="text"
            placeholder="¿Qué canción estas buscando?"
            [(ngModel)]="searchQuery"
            (ngModelChange)="filterPdfs()"
            class="search-input"
          />
        </div>
      </div>
    </header>

    <main class="main-content">
      <div class="hero-section">
        <div class="hero-image">
          <h1 class="hero-title">Canciones IGC</h1>
        </div>
        <div class="hero-info">
          <div class="user-info">
            <span class="user-details">
              <span class="document-count"> • {{ filteredPdfs.length }} Canciones</span>
            </span>
          </div>
        </div>
      </div>

      <div class="pdf-list">
        <table>
          <thead>
            <tr>
              <th>Ver</th>
              <th>#</th>
              <th>Título</th>
              <th>Versión</th>
              <th>Descargar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pdf of filteredPdfs; let i = index" class="pdf-item">
              <td>
                <button class="view-button" (click)="handleViewPdf(pdf)">
                  <i class="pi pi-eye"></i>
                  <span>Ver</span>
                </button>
              </td>
              <td>{{ i + 1 }}</td>
              <td>
                <div class="pdf-title">
                  <div class="pdf-icon">
                    <i style="font-size: 1.2rem;" class="pi pi-file"></i>
                  </div>
                  <span>{{ pdf.title }}</span>
                </div>
              </td>
              <td>{{ pdf.version }}</td>
              <td>
                <a [href]="pdf.url" download class="download-button">
                  <i class="pi pi-download"></i>
                  <span>Descargar</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </ng-template>
</div>

